/* Footer */
.footer {
  background-color: #141514;
  color: #ffffffcc;
  text-align: center;
  padding: 0,5rem;
  font-size: 0.7rem;
  font-family: "Fredoka", sans-serif;
}

.footer-link {
  color: #ffffffcc;
  text-decoration: underline;
  margin-left: 4px;
}