/* Contenedor de cada 칤tem */
.gallery-item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

/* Estado base: se aplica a TODOS los slides (costados por defecto) */
.slick-slide .gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  opacity: 0.5;              /* opacas */
  transform: scale(0.8);     /* m치s chiquitas */
  transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
  filter: grayscale(20%) brightness(0.8) sepia(10%) hue-rotate(30deg) saturate(70%); /* tinte oliva suave */
}

/* Slide central ACTIVO: n칤tido, grande, sin filtros */
.slick-center .gallery-item img {
  opacity: 1;
  transform: scale(1.1);
  filter: none;
  z-index: 2;
}

/* Hover SOLO para el slide central (mejora leve de brillo/escala) */
.slick-center .gallery-item:hover img {
  transform: scale(1.15);
  filter: brightness(1.05);
}

/* Important칤simo: si NO es el centro, el hover NO cambia nada */
.slick-slide:not(.slick-center) .gallery-item:hover img {
  opacity: 0.5;
  transform: scale(0.8);
  filter: grayscale(20%) brightness(0.8) sepia(10%) hue-rotate(30deg) saturate(70%);
}

/* flechas por defecto */
.slick-prev, .slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
}

/* en mobile */
@media (max-width: 600px) {
  .slick-prev, .slick-next {
    width: 25px;
    height: 25px;
  }
}

/* Si ya no us치s overlay/lupa */
.gallery-overlay { display: none; }



/* Forzar galer칤a negra */
#galeria {
 background-color: var(--color-crema-oscuro) !important;
  padding: 0 1rem 0 1rem; /* 游녣 sin espacio abajo */
  margin-top: 3rem;    /* 游녣 separa de la secci칩n anterior */
}

/* si el Container de MUI mete espacio extra */
#galeria .MuiContainer-root {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}


.galeria-title {
  text-align: center;
  margin-bottom: 1rem;      /* equivale a mb: 4 */
  font-family: var(--font-section) !important;
  font-size: 2.2rem;   /* 游녣 intermedio */
  font-weight: bold !important;
  color: var(--color-terracota) !important;
  
}

  @media (min-width: 900px) {
  .galeria-title {
    font-size: 2.7rem !important;  /* 游녣 m치s grande en web */
  }
}

/* si el carrusel o las im치genes dejan hueco */
#galeria img {
  display: block;        /* quita espacio inline */
  margin-bottom: 0 !important;
}
