/* Secci贸n Ubicaci贸n */
.ubicacion-section {
  
  padding: 0rem 0rem;
  text-align: center;
}

.ubicacion-title {
  text-align: center !important;
  margin-bottom: 2rem !important;
  font-family: var(--font-section) !important;
  font-weight: bold !important;
  color: var(--color-terracota) !important;
  font-size: 2.2rem;   /*  intermedio */

  }
  @media (min-width: 900px) {
  .ubicacion-title {
    font-size: 2.7rem !important;  /*  m谩s grande en web */
  }
}

/* Contenedor del mapa */
.map-container {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Recuadro destacado */
.ubicacion-highlight {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: var(--color-terracota);
  color: white;
  font-family: var(--font-main);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* Bot贸n C贸mo llegar */
.ubicacion-btn {
  position: absolute !important;
  bottom: 16px;
  right: 16px;
  background-color: var(--color-terracota) !important;
  color: white !important;
  font-family: var(--font-text) !important;
  font-weight: 600 !important;
  padding: 0.6rem 1.2rem !important;
  border-radius: 8px !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25) !important;
  transition: transform 0.2s ease-in-out !important;
}

.ubicacion-btn:hover {
  transform: scale(1.05);
  background-color: #a54f3f !important; /* terracota m谩s oscuro */
}
